<main data-view="about">   
  <!-- ABOUT -->
  <section class="about">
    <p class="about__lead">
        Valentine Jolibois creates installations where soft and hard materials contrast, blending seductive beauty with serious themes. Inspired by the shell, both armor and prison, she explores protection, vulnerability, and ecological issues. Her works transform objects and supports into interactive and poetic sculptures.
   <br></br>
        Trained in sculpture at ENSAV La Cambre, she also studied at the Gerrit Rietveld Academie and the Lyon School of Fine Arts. In 2024, she was awarded the Prix des Amis de La Cambre, granted to ten graduates in recognition of the quality of their diploma projects. Valentine lives in Brussels and co-founded the collective <a href="https://www.instagram.com/elvytremor/">Elvy Tremor</a> with <a href="https://www.instagram.com/leonorebienert/">Léonore Bienert</a>.</p>
    </section>


<!-- TABLE -->

<div class="index-table">
    <div class="table-head">
        <div class="row">
                    <button class="sorter desc cell">↑↓</button>
                    <button class="sorter desc cell">↑↓</button>
                    <button class="sorter desc cell">↑↓</button>
                    <button class="sorter desc cell">↑↓</button>
                </div>
    </div>
<div class="table-body">
            <a class="row">
        <div class="cell">Vruchtbare Grond: A Sense of Belonging</div>
        <div class="cell">Het Bos</div>
        <div class="cell">Antwerp</div> 
        <div class="cell">2025</div> 
    </a>
            <a class="row">
        <div class="cell">Mutation Fest: Wild and Wonderful</div>
        <div class="cell">Wintercircus</div>
        <div class="cell">Gent</div> 
        <div class="cell">2024</div> 
    </a>
            <a class="row">
        <div class="cell">The Queer Exhibition</div>
        <div class="cell">Cinéma Galeries</div>
        <div class="cell">Brussels</div> 
        <div class="cell">2024</div> 
    </a>
            <a class="row">
        <div class="cell">Ornières</div>
        <div class="cell">La Fabriek</div>
        <div class="cell">Brussels</div> 
        <div class="cell">2024</div> 
    </a>
            <a class="row">
        <div class="cell">La Cambre - Graduation Show</div>
        <div class="cell">Artesio Art Center</div>
        <div class="cell">Brussels</div> 
        <div class="cell">2024</div> 
    </a>
            <a class="row">
        <div class="cell">Nuée</div>
        <div class="cell">Atelier 34zero</div>
        <div class="cell">Brussels</div> 
        <div class="cell">2024</div> 
    </a>
            <a class="row">
        <div class="cell">Amaken - Exposition de fin de résidence</div>
        <div class="cell">Visual Art Forum</div>
        <div class="cell">Bir Zeit</div> 
        <div class="cell">2023</div> 
    </a>
            <a class="row">
        <div class="cell">Inside Out</div>
        <div class="cell">Eleven Steens</div>
        <div class="cell">Brussels</div> 
        <div class="cell">2023</div> 
    </a>
            <a class="row">
        <div class="cell">Ouverture(s)</div>
        <div class="cell">UQAM Gallery</div>
        <div class="cell">Montréal</div> 
        <div class="cell">2022</div> 
    </a>
            <a class="row">
        <div class="cell">F.r.ictions</div>
        <div class="cell">BPS22</div>
        <div class="cell">Charleroi</div> 
        <div class="cell">2022</div> 
    </a>
            <a class="row" id="campagne-premiere">
        <div class="cell">Métamorphose(s)</div>
        <div class="cell">La Cambre</div>
        <div class="cell">Brussels</div> 
        <div class="cell">2022</div> 
    </a>
            <a class="row">
        <div class="cell">Immortel.le.s</div>
        <div class="cell">Hôpital Notre-Dame-à-la-Rose</div>
        <div class="cell">Lessines</div> 
        <div class="cell">2022</div> 
    </a>
            <a class="row">
        <div class="cell">Sélection Coup de Coeur (bâtiment Demeuldre)</div>
        <div class="cell">We Art XL</div>
        <div class="cell">Brussels</div> 
        <div class="cell">2021</div> 
    </a>
            <a class="row">
        <div class="cell">Graduation Show</div>
        <div class="cell">Gerrit Rietveld Academie</div>
        <div class="cell">Amsterdam</div> 
        <div class="cell">2021</div> 
    </a>
            <a class="row">
        <div class="cell">Recoil</div>
        <div class="cell">M4 GastAtelier</div>
        <div class="cell">Amsterdam</div> 
        <div class="cell">2021</div> 
    </a>
            <a class="row">
        <div class="cell">Sélection Coup de Coeur (bâtiment Flagey)</div>
        <div class="cell">We Art XL</div>
        <div class="cell">Brussels</div> 
        <div class="cell">2020</div> 
    </a>
            <a class="row">
        <div class="cell">Chat/Piscine (via le Parcours d’artistes d’Ixelles)</div>
        <div class="cell">We Art XL</div>
        <div class="cell">Brussels</div> 
        <div class="cell">2019</div> 
    </a>
            <a class="row">
        <div class="cell">The Garden</div>
        <div class="cell">Gerrit Rietveld Academie</div>
        <div class="cell">Amsterdam</div> 
        <div class="cell">2019</div> 
    </a>
            
        </div>
    </div>

    <!-- TABLE INFOS -->
    <about-infos class="layout">
        <!-- Colonne 1 -->
        <section class="col">
          <about-title><p>Residencies</p></about-title>
      
          <div class="index-table table-2">
            <div class="table-body">
              <a class="row">
                <div class="cell">Botanique</div>
                <div class="cell">Brussels</div>
                <div class="cell">2025</div>
              </a>
      
              <a class="row">
                <div class="cell">Het Bos</div>
                <div class="cell">Brussels</div>
                <div class="cell">2025</div>
              </a>
      
              <a class="row">
                <div class="cell">Visual Art Forum</div>
                <div class="cell">Bir Zeit</div>
                <div class="cell">2023</div>
              </a>
      
              <a class="row">
                <div class="cell">M4 GastAtelier</div>
                <div class="cell">Amsterdam</div>
                <div class="cell">2021</div>
              </a>
            </div>
          </div>
        </section>
      
        <!-- Colonne 2 -->
        <section class="col">
          <about-title><p>Press</p></about-title>
      
          <div class="index-table table-3">
            <div class="table-body">
              <a class="row" href="https://nicolasverschaeve.com/fr/projects/pays-couvert">
                <div class="cell">Nieuwsblad</div>
                <div class="cell">2025</div>
              </a>
      
              <a class="row" href="https://nicolasverschaeve.com/fr/projects/pays-couvert">
                <div class="cell">BX1</div>
                <div class="cell">2021</div>
              </a>
      
              <a class="row" href="https://nicolasverschaeve.com/fr/projects/pays-couvert">
                <div class="cell">Gerrit Rietveld Academie</div>
                <div class="cell">2021</div>
              </a>
      
              <a class="row" href="https://nicolasverschaeve.com/fr/projects/pays-couvert">
                <div class="cell">Focus Vif</div>
                <div class="cell">2020</div>
              </a>
            </div>
          </div>
        </section>

        <!-- Colonne 3 -->
        <section class="col">
            <about-title><p>Credits</p></about-title>
            <about-texte>
                <p>Valentine Jolibois © 2025</p>
                <p>Photographies: Valentine Jolibois (sauf mention contraire)</p>
                <p>Design: <a href="https://www.salutaubin.com">salutaubin</a></p>
            </about-texte>
        </section>
        </about-infos>
      </main>
        <div data-view-footer class="footer-about">
          <a href="mailto:jolibois.valentine@gmail.com">jolibois.valentine@gmail.com</a>
        </div>