<main data-view="projects">
  <!-- SCROLL HORIZONTAL -->
<div class="track" id="track">

  <!-- PROJET 8 (texte) -->
<figure class="figure text-block" data-project="Lacrymatory" data-year="2025">
  <div class="text-box">
    Valentine Jolibois revives this misinterpretation by imagining the sets and artifacts of a fictional religion, a cult of tears without human figures, whose traces unfold in space. Unworn costumes, a ceramic holy water font, and sculptural elements compose a suspended ritual, on the border between reality and invention, giving substance one last time to this hypothesis.  </div>
</figure>

<!-- PROJET 5 -->
<figure class="figure" style="width:750px; height:420px;" data-project="What Lies in the Puddle" data-year="2025">
  <img src="./IMG/Puddle/5b131b1e-fff9-4b3c-9dd4-475d3e489c91.webp" alt="" />
</figure>

<figure class="figure" style="width:750px; height:420px;" data-project="What Lies in the Puddle" data-year="2025">
  <img src="./IMG/Puddle/627ca1b8-6d9b-4d7f-8a42-fb62b4bd7e2b.webp" alt="" />
</figure>

<figure class="figure" style="width:750px; height:420px;" data-project="What Lies in the Puddle" data-year="2025">
  <img src="./IMG/Puddle/7309b1b1-f289-4821-a4c1-750b687afeec.webp" alt="" />
</figure>

<figure class="figure" style="width:750px; height:420px;" data-project="What Lies in the Puddle" data-year="2025">
  <img src="./IMG/Puddle/IMG_9012 copie.webp" alt="" />
</figure>

<figure class="figure" style="width:750px; height:420px;" data-project="What Lies in the Puddle" data-year="2025">
  <img src="./IMG/Puddle/IMG_9052 copie.webp" alt="" />
</figure>

 <!-- PROJET 1 -->
 <figure class="figure full" data-project="Excavation" data-year="2024">
  <img src="./IMG/Excavation/Excavation_4.webp" alt="" />
</figure>
<figure class="figure full" data-project="Excavation" data-year="2024">
<img src="./IMG/Excavation/Excavation_2.webp" alt="" />
</figure> 
<figure class="figure text-block" data-project="Excavation" data-year="2024">
<div class="text-box">
  Excavation (2024) is a multi-act installation playing with the exhibition codes of history museums: from audio guides to dioramas, including graphic mediation tools like posters and flyers. Using an audio guide system, visitors experience a series of sound pieces—more musical and poetic than purely explanatory—while wandering through the exhibition space.
</div>
</figure>
<figure class="figure full" data-project="Excavation" data-year="2024">
<img src="./IMG/Excavation/Excavation_3.webp" alt="" />
</figure>

<figure class="figure full" data-project="Excavation" data-year="2024">
<img src="./IMG/Excavation/Excavation_5.webp" alt="" />
</figure>
<figure class="figure text-block" data-project="Excavation" data-year="2024">
<div class="text-box">
  With this installation, I wanted to stage a supposed archaeological discovery, a mysterious object somewhere between a sarcophagus and a barrel. The mediation tools—such as audio guides, plinths, frames, and the diorama—are given a place as important as the exhibited objects, becoming sculptures themselves.
</div>
</figure>
<figure class="figure full" data-project="Excavation" data-year="2024">
<img src="./IMG/Excavation/Excavation_1.webp" alt="" />
</figure>
<figure class="figure" style="width:800px; height:500px;" data-project="Excavation" data-year="2024">
<img src="./IMG/photo2.webp" alt="" />
</figure>


<!-- PROJET 6 -->
<figure class="figure" style="width:800px; height:500px;" data-project="Amnios" data-year="2024">
  <img src="./IMG/Amnios/DSC_0030 copy.webp" alt="" />
</figure>

<figure class="figure" style="width:800px; height:500px;" data-project="Amnios" data-year="2024">
  <img src="./IMG/Amnios/DSC_0035.webp" alt="" />
</figure>

<figure class="figure" style="width:800px; height:500px;" data-project="Amnios" data-year="2024">
  <img src="./IMG/Amnios/rtch3 copy.webp" alt="" />
</figure>

<figure class="figure" style="width:800px; height:500px;" data-project="Amnios" data-year="2024">
  <img src="./IMG/Amnios/rtch5 copy.webp" alt="" />
</figure>

  
<!-- PROJET 2 -->
<figure class="figure" style="width:800px; height:500px;" data-project="Better safe (than sorry)" data-year="2023">
  <img src="./IMG/Better Safe/BetterSafe_1.webp" alt="" />
</figure>

<figure class="figure text-block" data-project="Better safe (than sorry)" data-year="2023">
  <div class="text-box">
    "Powerful arms hold me tight, but I don’t back down. We’re under heavy watch, protected at every turn.
    I say please and thank you—endless gratitude.
    I won’t break the rules; safety must be earned.
    No need to stay alert anymore.
    My jailers, jealous lovers,
    they’re the ones with common sense. In every argument, they hit back. In a muscular ballet,
    they watch over me.
    Their patrols lull me gently into half-sleep.
    Suddenly, a soft “click.” Safety belts me in.
    I shout my thanks to the cops and the armored guards."
  </div>
</figure>

<figure class="figure full" data-project="Better safe (than sorry)" data-year="2023">
  <img src="./IMG/Better Safe/IMG_6382.webp" alt="" />
</figure>

<figure class="figure full" data-project="Better safe (than sorry)" data-year="2023">
  <img src="./IMG/Better Safe/IMG_6413.webp" alt="" />
</figure>

<!-- PROJET 3 -->
<figure class="figure" style="width:900px; height:650px;" data-project="Captio" data-year="2023">
  <img src="./IMG/Captio/Valentine-5713.webp" alt="" />
</figure>

<figure class="figure text-block" data-project="Captio" data-year="2023">
  <div class="text-box">
    A video of flames is projected onto a ceramic sculpture, casting an incandescent shadow, while small speakers hidden in the floor sculpture emit a soft crackling sound.
  </div>
</figure>

<figure class="figure" style="width:900px; height:650px;" data-project="Captio" data-year="2023">
  <img src="./IMG/Captio/Valentine-5715.webp" alt="" />
</figure>

<figure class="figure" style="width:900px; height:650px;" data-project="Captio" data-year="2023">
  <img src="./IMG/Captio/Valentine-5723.webp" alt="" />
</figure>

<figure class="figure" style="width:900px; height:650px;" data-project="Captio" data-year="2023">
  <img src="./IMG/Captio/Valentine-5726.webp" alt="" />
</figure>

<!-- PROJET 4 -->
<figure class="figure full" data-project="Lobster Complex" data-year="2022">
  <img src="./IMG/Lobster/20220602_175732.webp" alt="" />
</figure>

<figure class="figure text-block" data-project="Lobster Complex" data-year="2022">
  <div class="text-box">
    A video of flames is projected onto a ceramic sculpture, casting an incandescent shadow, while small speakers hidden in the floor sculpture emit a soft crackling sound.
  </div>
</figure>

<figure class="figure full" data-project="Lobster Complex" data-year="2022">
  <img src="./IMG/Lobster/20220602_175750 copie.webp" alt="" />
</figure>

<figure class="figure full" data-project="Lobster Complex" data-year="2022">
  <img src="./IMG/Lobster/20220602_180913.webp" alt="" />
</figure>

<figure class="figure full" data-project="Lobster Complex" data-year="2022">
  <img src="./IMG/Lobster/20220602_181923 copie.webp" alt="" />
</figure>

<figure class="figure full" data-project="Lobster Complex" data-year="2022">
  <img src="./IMG/Lobster/20220609_181212.webp" alt="" />
</figure>

<figure class="figure full" data-project="Lobster Complex" data-year="2022">
  <img src="./IMG/Lobster/20220609_190145 copie.webp" alt="" />
</figure>



    <!-- PROJET 7 (texte) -->
    <figure class="figure" style="width:800px; height:500px;" data-project="Hôpital Notre Dame à la Rose" data-year="2022">
      <img src="./IMG/Hopital/Idoles_2021_MG_8403.webp" alt="" />
    </figure>
    <figure class="figure" style="width:800px; height:500px;" data-project="Hôpital Notre Dame à la Rose" data-year="2022">
      <img src="./IMG/Hopital/Idoles_2021_MG_8412.webp" alt="" />
    </figure>
    <figure class="figure" style="width:800px; height:500px;" data-project="Hôpital Notre Dame à la Rose" data-year="2022">
      <img src="./IMG/Hopital/Madonna_2022_MG_9508.webp" alt="" />
    </figure>
    <figure class="figure" style="width:800px; height:500px;" data-project="Hôpital Notre Dame à la Rose" data-year="2022">
      <img src="./IMG/Hopital/Madonna_2022_MG_9506 copie.webp" alt="" />
    </figure>
    <figure class="figure" style="width:800px; height:500px;" data-project="Hôpital Notre Dame à la Rose" data-year="2022">
      <img src="./IMG/Hopital/Medusa_2021_MG_9675.webp" alt="" />
    </figure>
  </div>
</main>

  <!-- MENU PROJETS -->
  <div data-view-footer class="footer">
    <div class="topbar-title-wrapper">
      <div class="topbar-title" id="projectTitle">Project</div>
      <div class="project-menu" id="projectMenu"></div>
    </div>
    <div class="project-year" id="projectYear"></div>
  </div>